@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

body {
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  background-color: #e65f5c;
  font-family: Ranchers, cursive;
}
