@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

* {
  font-family: Ranchers, cursive;
  background-repeat: no-repeat, repeat;
  background-blend-mode: lighten;
}

body {
  background-color: #e65f5c;
}
