.login-page {
  min-height: 100vh;
  height: auto;
  width: auto;
}

/* navbar items */
.ul-container {
  display: flex;
  padding: 15px;
  color: #f5f7dc;
  background-color: #0f0326;
  width: 100%;
  height: 15vh;
  margin-top: -9px;
  margin-left: -9px;
  box-shadow: inset 5px 5px 25px #f5f7dc;
}

.button-container {
  justify-content: space-between;
  align-items: center;
  display:flex;
}

.li-item1 {
  padding: 10px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  display:flex;
}

.li-item2 {
  list-style-type: none;
}

.name {
  font-size: 4rem;
  margin-left: 5px;
  transform: rotate(-7deg);

}

.p-text {
  padding: 25px;
  transform: rotate(-7deg);
}

.signup-button {
  border: none;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
  color: #f5f7dc;
  background: none;
  margin-left: 35vw;
  display:flex;
  position: relative;
  margin-top: 60px;
}

.login-button {
  border: none;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 2rem;
  color: #f5f7dc;
  background: none;
  margin-top: 60px;
}

/* movie grid */
.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.movie-background {
  background-color: #0f0326;
  min-height: 350px;
  max-width: 360px;
  box-shadow: 0 6px 10px -2px rgba(28, 28, 28, 0.9);
  margin-top: 100px;
  padding: 30px;
  border-radius: 35px;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-img {
  max-height: 355px;
  margin-top: 30px;
  margin-left: 33px;
  margin-right: 33px;
  border-radius: 40px;
  padding-top: 2px;
  box-shadow: 0 25px 100px -3px #e65f5c;
}

.movie-title {
  font-size: 1rem;
  color: #f5f7dc;
  font-size: 1.5rem;
  position: relative;
}
