.row {
  margin-left: 20px;
  color: #f5f7dc;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}


.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  transition: transform 450ms;
  margin-right: 29px;
  border-radius: 5px;
  box-shadow: 0 6px 10px -2px rgba(99, 50, 50, 0.9);
  cursor: pointer;
}

.row_poster.undefined {
  margin-left: -3vw;
}

.row_poster:hover {
  transform: scale(1.08);
  /* border: 3px solid white; */
}

.row_posterLarge {
  max-height: 300px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -3vw;
}

.row_posterLarge:hover {
  transform: scale(1.09);
  /* border: 3px solid white; */
}

.comment-btn {
  max-height: 50px;
}

.add-to-collections-btn {
  max-height: 3vh;
  margin-top: -15px;
  background-color: #0f0326;
  color: #f5f7dc;
  border: none;
  cursor: pointer;
  transform: rotateZ(350deg);
  border-radius: 5px;
  padding: 2px;
  z-index: 1;
  margin-left: 3px;
}

.add-to-collections-btn:hover {
  background-color: #e65f5c;
  color: #0f0326;
  box-shadow: inset 1px 2px 5px #f5f7dc;
}

.add-to-collections-btn:active {
  transform: scale(0.98);
}

.youtube {
  border-radius: 5px;
}

.trailer-error {
  margin-left: 40vw;
  font-size: 1.5rem;
}