.nav-bar {
  display: flex;
  height: 12vh;
  background-color: #0f0326;
  padding: 20px;
  border-radius: 5px;
  margin-top: -9px;
  margin-left: -9px;
  width: 100%;
  box-shadow: 0 6px 10px -2px rgba(28, 28, 28, 0.9);
}

.app-name {
  color: #f5f7dc;
  padding: 15px;
  font-size: 4rem;
  transform: rotate(-6deg);
  margin-left: 35px;
  margin-top:23px;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 60%;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: -18vw;
}

.nav-li {
  padding: 15px;
}

.logout-btn {
  display: flex;
  border: none;
  padding:5px;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.3rem;
  background-color: #e65f5c;
  color: #f5f7dc;
  cursor: pointer;
}

.nav-link-home {
  display: flex;
  cursor: pointer;
  color: #f5f7dc;
  font-size: 2rem;
  text-decoration: none;
  margin-left:20vw
}

.nav-link-collections {
  cursor: pointer;
  color: #f5f7dc;
  font-size: 2rem;
  text-decoration: none;
}

.avatar-photo-nav {
  cursor: pointer;
  margin-right: 20vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  justify-content: center;
  /* min-width: 100px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-right:40px;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-right: 40px;
}

.dino-guy{
  margin-left: 2vw;
  width: 75px;
  height: 75px;
  margin-top: 20px;
}