.collection-row {
  margin: auto;
}

.collection-title {
  color: #f5f7dc;
  padding: 5px;
  margin-bottom: 50px;
}

.collection-img {
  object-fit: contain;
  max-height: 150px;
  transition: transform 450ms;
  margin-left: 15px;
  margin-top: -2vh;
  border-radius: 5px;
  box-shadow: 0 6px 10px -2px rgba(99, 50, 50, 0.9);
}

.collection-img:hover {
  transform: scale(1.08);
}
