.collection-row {
  margin: auto;
}

.container {
  display:flex;
}

.collection-title {
  color: #f5f7dc;
  padding: 7px;
  margin-bottom: 65px;
  font-size: 3rem;
}

.collection-img {
  cursor: pointer;
  object-fit: contain;
  max-height: 150px;
  transition: transform 450ms;
  margin-left: 15px;
  margin-top: -2vh;
  border-radius: 5px;
  box-shadow: 0 6px 10px -2px rgba(99, 50, 50, 0.9);
}

.collection-img:hover {
  transform: scale(1.08);
  
}

.row_posterL {
  transition: transform 450ms;
  margin-left:15px;
  max-height: 300px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 6px 10px -2px rgba(99, 50, 50, 0.9);
}

.row_posterL:hover {
  transform: scale(1.09);
}

.small-img-delete-btn {
  position: absolute;
  margin-top: -4.3vh;
  margin-left: -6.5vw;
  background-color: #0f0326;
  color: #f5f7dc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  min-width: 2vw;
  font-size: 1rem;
}

.small-img-delete-btn:hover {
  background-color: #e65f5c;
  color: #0f0326;
  box-shadow: inset 1px 2px 5px #f5f7dc;
}

.small-img-delete-btn:active {
  transform: scale(0.98);
}

.large-img-delete-btn{
  position: absolute;
  margin-top: -3vh;
  margin-left: -5.3vw;
  background-color: #0f0326;
  color: #f5f7dc;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
  min-width: 2.5vw;
  font-size: 1.1rem;
}

.large-img-delete-btn:hover {
  background-color: #e65f5c;
  color: #0f0326;
  box-shadow: inset 1px 2px 5px #f5f7dc;
}

.large-img-delete-btn:active {
  transform: scale(0.98);
}

.trash {
  pointer-events: none;
}

.click-me {
  color: aquamarine;
  font-size: 2rem;
  display: flex;
  /* visibility: hidden; */
}